---
import Layout from '../layouts/Layout.astro';
import Toolbar from '../components/Toolbar.astro';
import Form from '../components/form.astro';
import { createHash } from "node:crypto"

import { db, Cuento, isDbError, CuentoDeseado, like } from 'astro:db';

//TODO
/*
	Mostrar los cuentos dentro de cada categoria		
	investigar las imágenes
*/

const generateId = (str: string) => {
	return createHash("sha256").update(str).digest("hex")
}


let prestado: boolean

if (Astro.request.method === 'POST') { 
  const formData: FormData = await Astro.request.formData(); 
  const portada = formData.get('portada'); 
  const nombre = formData.get('nombre');
  const autor = formData.get('autor');
  const editorial = formData.get('editorial');
  const anyo = formData.get('anyo');
  const categoria = formData.get('categoria');
  const anyadidoPor = formData.get('quienLoAnyade');
  const quienLoTiene = formData.get('quienLoTiene');
  const estaPrestado = formData.get('prestado');
  const prestadoA = formData.get('personaPrestado');
  
 
	try{		
		if (typeof portada === 'string' && typeof nombre === 'string' && typeof autor === 'string' && typeof editorial === 'string' && typeof anyo === 'string' && typeof categoria === 'string' && typeof anyadidoPor === 'string' && typeof quienLoTiene === 'string' && typeof estaPrestado === 'string' && typeof prestadoA === 'string') {
			prestado = estaPrestado == "true" ? true : false	
			const id = generateId(nombre+editorial)				
			await db.insert(Cuento).values({ id, portada, nombre, autor, editorial, anyo, categoria, anyadidoPor, quienLoTiene, prestado, prestadoA });
		}
	}catch(e){
		if (isDbError(e)) {
			return new Response(e);
		}
	}

	const cuentoDeseado = await db.select().from(CuentoDeseado);

	cuentoDeseado.map((cuento)=>{
		if(nombre === cuento.nombre){
			borrar(nombre)
		}
	})

	async function borrar(name: string) {
		await db.delete(CuentoDeseado).where(like (CuentoDeseado.nombre, name))
	}
}
---

<Layout title="El museo del cuento - Añadir">
    <main>
        <Toolbar />	
		<div>
			<div class="flex justify-center text-gradient">
				<h2 class="text-2xl m-3">Añadir cuento a la biblioteca</h2>
			</div>
			<Form estado = ""/>
		</div>
    </main>
</Layout>

<script>
	let prestado = document.getElementsByName("prestado")	
	let aQuienEstaPrestado = document.getElementById("aQuienEstaPrestado")

	cambiarVisibilidadSeccionDependiendoDePrestado()

	function cambiarVisibilidadSeccionDependiendoDePrestado() {
		prestado[0].addEventListener("change", function(){
			aQuienEstaPrestado?.classList.remove("hidden")
		})

		prestado[1].addEventListener("change", function(){
			aQuienEstaPrestado?.classList.add("hidden")
		})
	}
	
</script>

<style>
    main {
		margin: auto;		
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}	
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}	
</style>