---
import Layout from '../layouts/Layout.astro';
import Toolbar from '../components/Toolbar.astro';
---

<Layout title="El museo del cuento - Categorías">
    <main>
        <Toolbar />	
    </main>
   



</Layout>
<style>
    main {
		margin: auto;		
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}	
</style>