---
import Layout from '../layouts/Layout.astro';
import Toolbar from '../components/Toolbar.astro';
import Form from '../components/form.astro';
import TablaCuentos from '../components/tablaCuentos.astro';

import { db, CuentoDeseado } from 'astro:db';

//TODO
/*Generar id aleatorio*/

const id: string = '2';

if (Astro.request.method === 'POST') { 
  const formData: FormData = await Astro.request.formData();  
  const nombre = formData.get('nombre');
  const autor = formData.get('autor');
  const editorial = formData.get('editorial');
  const anyo = formData.get('anyo');
  const categoria = formData.get('categoria');
  const anyadidoPor = formData.get('quienLoAnyade');
 

  if (typeof id === 'string' && typeof nombre === 'string' && typeof autor === 'string' && typeof editorial === 'string' && typeof anyo === 'string' && typeof categoria === 'string' && typeof anyadidoPor === 'string') {
    // Insertar datos de formulario en un Comment
    await db.insert(CuentoDeseado).values({id, nombre, autor, editorial, anyo, categoria, anyadidoPor});
  }
}

const cuentoDeseado = await db.select().from(CuentoDeseado);

console.log(cuentoDeseado)
---

<Layout title="El museo del cuento - Deseados">
    <main>
        <Toolbar />	
		<section class="" id="listaCuentosDeseados">
			<div class="flex justify-center mt-10">
				<h2 class="text-5xl"><span class="text-gradient">Lista de cuentos deseados</span></h2>
			</div>
			<div>
				<!-- <TablaCuentos /> -->
			</div>
			<span class="flex justify-end">
				<button class="ml-1 bg-green-700 rounded-md px-2 py-1" id="buttonAddDesiredTale">          
					Añadir deseo
				</button>
			</span>
		</section>

		<section class="hidden" id="formAddDesiredTale">
			<div class="flex justify-center text-gradient">
				<h2 class="text-2xl m-3">Añadir cuento a la lista de deseados</h2>
			</div>
			<Form estado = "hidden"/>
		</section>
    </main>
</Layout>

<script>
	let buttonAddDesiredTale = document.getElementById("buttonAddDesiredTale")
	let formAddDesiredTale = document.getElementById("formAddDesiredTale")
	let listaCuentosDeseados = document.getElementById("listaCuentosDeseados")

	buttonAddDesiredTale?.addEventListener("click", function(){
		formAddDesiredTale?.classList.remove("hidden")
		listaCuentosDeseados?.classList.add("hidden")
	})	
</script>

<style>
    main {
		margin: auto;		
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}	
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}	
</style>