---
import Layout from '../layouts/Layout.astro';
import Toolbar from '../components/Toolbar.astro';
import Form from '../components/form.astro';
import TablaCuentos from '../components/tablaCuentos.astro';
import { createHash } from "node:crypto"
import Busqueda from '../components/busqueda.astro';

import { db, CuentoDeseado } from 'astro:db';


const generateId = (str: string) => {
	return createHash("sha256").update(str).digest("hex")
}

if (Astro.request.method === 'POST') { 
  const formData: FormData = await Astro.request.formData();  
  const portada = formData.get('portada'); 
  const nombre = formData.get('nombre');
  const autor = formData.get('autor');
  const editorial = formData.get('editorial');
  const anyo = formData.get('anyo');
  const categoria = formData.get('categoria');
  const anyadidoPor = formData.get('quienLoAnyade');
  	

  if (typeof portada === 'string' && typeof nombre === 'string' && typeof autor === 'string' && typeof editorial === 'string' && typeof anyo === 'string' && typeof categoria === 'string' && typeof anyadidoPor === 'string' && categoria !== '') {
    const id = generateId(nombre+editorial)
	await db.insert(CuentoDeseado).values({id, portada, nombre, autor, editorial, anyo, categoria, anyadidoPor});
  }
}
---

<Layout title="El museo del cuento - Deseados">
    
        <Toolbar />	
		<section class="" id="listaCuentosDeseados">
			<div class="flex justify-center mt-10 mb-10">
				<h2 class="text-5xl"><span class="text-gradient">Lista de cuentos deseados</span></h2>
			</div>
			 <!-- <Busqueda tipoCuento='CuentoDeseado'/>	  -->
			<div class="mt-10">
				 <TablaCuentos tipoCuento='CuentoDeseado'/> 
			</div>
			<span class="flex justify-center">
				<button class="ml-1 mt-8 bg-green-700 rounded-md px-2 py-1" id="buttonAddDesiredTale">          
					Añadir cuento deseado
				</button>
			</span>
		</section>

		<section class="hidden" id="formAddDesiredTale">
			<div class="flex justify-center text-gradient">
				<h2 class="text-2xl m-3">Añadir cuento a la lista de deseados</h2>
			</div>
			<Form estado = "hidden"/>
		</section>
    
</Layout>

<script>
	let buttonAddDesiredTale = document.getElementById("buttonAddDesiredTale")
	let formAddDesiredTale = document.getElementById("formAddDesiredTale")
	let listaCuentosDeseados = document.getElementById("listaCuentosDeseados")

	buttonAddDesiredTale?.addEventListener("click", function(){
		formAddDesiredTale?.classList.remove("hidden")
		listaCuentosDeseados?.classList.add("hidden")
	})
	
</script>

