---
import Layout from '../layouts/Layout.astro';
import Toolbar from '../components/Toolbar.astro';
import TablaCuentos from '../components/tablaCuentos.astro';
import Busqueda from '../components/busqueda.astro';
---

<Layout title="El museo del cuento">
			
		<Toolbar />				
		<div class="grid justify-center mt-10" id="tituloBiblioteca">
			<h2 class="text-slate-900 font-extrabold text-4xl sm:text-5xl lg:text-6xl tracking-tight text-center"> Biblioteca de cuentos</h2>
			<p class="mt-6 text-lg text-slate-800 text-center max-w-3xl mx-auto dark:text-slate-400">
				Busca los cuentos disponibles en tu biblioteca personal: su información, quién los tiene... <br/> Si no los tienes (y los quieres)... apúntalos en deseados.📚
			</p>
			<Busqueda tipoCuento='Cuento'/>
		</div>
		<div id="tabla" class="tabla">
			<h6 class="text-slate-900 font-extrabold text-lg sm:text-lg lg:text-xl tracking-tight text-center"> Listado </h6> 
			<TablaCuentos tipoCuento='Cuento'/>
		</div>		
</Layout>



