---
import Layout from '../layouts/Layout.astro';
import Toolbar from '../components/Toolbar.astro';
import Library from '../../public/icons/library.astro';
import TablaCuentos from '../components/tablaCuentos.astro';
import Busqueda from '../components/busqueda.astro';
import Modal from '../components/modal.astro'

let nombreCuento: string = ""
---

<Layout title="El museo del cuento">
	<main>		
		<Toolbar />	
		<div class="flex ">
			<Library />			
			<h1>El <span class="text-gradient">museo</span> del <span class="text-gradient">cuento</span></h1>		
		</div>
			<Busqueda/>		
		<div class="flex justify-center mt-10">
			<h2 class="text-5xl"><span class="text-gradient">Biblioteca</span></h2>
		</div>
		<div>
			<TablaCuentos tipoCuento='Cuento'/>
		</div>		
		
		<Modal cuento={nombreCuento}/>			
		
	</main>
</Layout>

<script>      
	const cuentos = document.querySelectorAll(".cuento")
	const modal = document.getElementById("modal")	

	cuentos.forEach((ele)=>{
		ele.addEventListener("click", ()=>{			
			modal?.classList.remove("hidden")				
		})
	})
	
		//TODO
		/*
		Al pinchar en un título. mostrar toda la información de ese libro en el modal
		*/
</script>

<style>
	main {		
		margin: auto;		
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}	
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;		
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}	
</style>


