---
import Layout from '../layouts/Layout.astro';
import Toolbar from '../components/Toolbar.astro';
import Library from '../../public/icons/library.astro';
import TablaCuentos from '../components/tablaCuentos.astro';
import Busqueda from '../components/busqueda.astro';
import Modal from '../components/modal.astro'

let nombreCuento: string = ""
---

<Layout title="El museo del cuento">
	<main>		
		<Toolbar />	
		<div class="flex ">
			<Library />			
			<h1>El <span class="text-gradient">museo</span> del <span class="text-gradient">cuento</span></h1>		
		</div>
			<Busqueda tipoCuento='Cuento'/>		
		<div class="flex justify-center mt-10">
			<h2 class="text-5xl"><span class="text-gradient">Biblioteca</span></h2>
		</div>
		<div>
			<TablaCuentos tipoCuento='Cuento'/>
		</div>			
		<div id="modalDiv">
			<Modal cuento=" "/>
		</div>
		
	</main>
</Layout>

<script>      
	const cuentos = document.querySelectorAll("button")
	const modal = document.getElementById("modal")	
	const modalDiv = document.getElementById("modalDiv")
	const mod = document.getElementsByTagName("Modal")

	

	cuentos.forEach((ele)=>{
		const { cuentoNombre } = ele.dataset
		ele.addEventListener("click", ()=>{	
			const tpl = `<Modal cuento='${cuentoNombre}'/>`
			if(modalDiv){						
				modal?.classList.remove("hidden")	
			}			
		})
	})		
</script>

<style>	
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;		
	}	
</style>


