---
import Layout from '../layouts/Layout.astro';
import Toolbar from '../components/Toolbar.astro';
import Library from '../../public/icons/library.astro';
import TablaCuentos from '../components/tablaCuentos.astro';
import Busqueda from '../components/busqueda.astro';
import Modal from '../components/modal.astro'

let nombreCuento: string = ""


---

<Layout title="El museo del cuento">
	<main>		
		<Toolbar />				
		<div class="grid justify-center mt-10" id="tituloBiblioteca">
			<h2 class="text-slate-900 font-extrabold text-4xl sm:text-5xl lg:text-6xl tracking-tight text-center"> Biblioteca de cuentos</h2>
			<p class="mt-6 text-lg text-slate-800 text-center max-w-3xl mx-auto dark:text-slate-400">
				Busca los cuentos disponibles en tu biblioteca personal: su información, quién los tiene... <br/> Si no los tienes (y los quieres)... apúntalos en deseados.📚
			</p>
			<Busqueda tipoCuento='Cuento'/>
		</div>
		<!-- <div id="tabla" class="tabla"> 
			<TablaCuentos tipoCuento='Cuento'/>
		</div>			 -->
		<!-- <Modal cuento= />	 -->
	</main>
</Layout>

<script> 
	// const modal = document.getElementById("modal")	
	// const cuentos = document.querySelectorAll('[data-cuento-id]')
	// cuentos.forEach((ele)=>{
	// 	ele.addEventListener("click",  () =>{			
	// 		const nombreCuento = ele.id					
	// 		modal?.classList.remove("hidden")				
	// 	})	
	// })
	
    // const secPopover = document.getElementById("secPopover")	
    // const buttonSearch = document.getElementById("buttonSearch")
    // const tabla = document.getElementById("tabla")	
    // const tituloBiblioteca = document.getElementById("tituloBiblioteca")	

    // buttonSearch?.addEventListener("click", ()=>{
    //     secPopover?.classList.remove("hidden")
    //     tabla?.classList.add("hidden")
    //     tituloBiblioteca?.classList.add("hidden")
    // })
</script>



	
</script>

<style>	
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;		
	}	
</style>


