---


---
<div class="mt-6 sm:mt-8 mb-8 flex justify-center space-x-6 text-sm">
    <button type="button" id="botonBusqueda" class="hidden sm:flex items-center w-72 text-left space-x-3 px-4 h-12 bg-white ring-1 ring-slate-900/10 hover:ring-slate-300 focus:outline-none focus:ring-2 focus:ring-green-500 shadow-sm rounded-lg text-slate-400 dark:bg-slate-600 dark:ring-0 dark:text-slate-300 dark:highlight-white/5 dark:hover:bg-slate-700">
        <svg width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="flex-none text-slate-300 dark:text-slate-400" aria-hidden="true">
            <path d="m19 19-3.5-3.5"></path><circle cx="11" cy="11" r="6"></circle>
        </svg>
        <span class="flex-auto">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Busca el cuento</font>
            </font>
        </span>
    </button>
</div>

<section id="modalBusqueda" class="hidden">           
    <div class="fixed inset-0 bg-black bg-opacity-30 backdrop-blur-sm flex justify-center items-center ">
        <div class=" bg-slate-600 p-0 rounded items-center gap-5 w-5/12">
            <div class="grid justify-end  m-0 p-0 h-5">
                <button class="bg-slate-600 rounded-md font-bold mx-3 size-1 text-sm text-red-500" id="buttonCerrarBusqueda" type="reset">X</button> 
            </div>  
            <div class="grid justify-center items-center mb-10 mt-4">  
                <form method="POST" action="/cuentoInfo/" class="grid">      
                    <input class="bg-slate-500 rounded-md text-white border-2 border-slate-200 p-1 px-2 text-base" type="text" id="searchTale" name="nombre" placeholder="Nombre del cuento">                    
                    <div class="grid justify-center mt-3 text-slate-300">
                        <label>¿Dónde buscas?</label>
                    </div>
                    <div class="flex flex-cols-2 justify-around text-slate-300 text-base">
                        <span class="mr-6">
                            <input type="radio" name="busquedaCuento" id="cuentoDisponible" value= "Cuento">
                            <label for="cuentoDisponible">Biblioteca</label>
                        </span>
                        <span>
                            <input type="radio" name="busquedaCuento" id="cuentoDeseado" value="CuentoDeseado" checked>
                            <label for="cuentoDeseado">Deseados</label>
                        </span>
                    </div>
                </form>
            </div>                   
        </div>
    </div> 
</section> 

<script>
    const botonBusqueda = document.getElementById("botonBusqueda")
    const modalBusqueda = document.getElementById("modalBusqueda")
    const buttonCerrarBusqueda = document.getElementById("buttonCerrarBusqueda")    
	botonBusqueda?.addEventListener("click", function(){
        modalBusqueda?.classList.remove("hidden")
	})
    buttonCerrarBusqueda?.addEventListener("click", function(){
        modalBusqueda?.classList.add("hidden")        
	})	
</script>





