---
import { db, Categoria } from 'astro:db';

interface Props {
	estado: string;  
}
const { estado } = Astro.props;
const categoria = await db.select().from(Categoria);
---
<form method="POST" class="grid space-y-2 text-base" id="formLibro">
    <label for="portada">Imagen portada (copia enlace)</label>
    <input type="text" name="portada" required>
    <label for="nombre">Nombre del cuento</label>
    <input type="text" name="nombre" required>
    <label for="autor">Autora o autor</label>
    <input type="text" name="autor" required>
    <label for="editorial">Editorial</label>
    <input type="text" name="editorial" required>
    <label for="anyo">Año</label>
    <input type="text" name="anyo" required>
    <label for="categoria">Categoría</label>
    <select name="categoria" id="categoria" required>
        <option value="" disabled selected>Selecciona una categoría</option>
        {
            categoria.map((cat)=>{
                return(                    
                    <option value={cat.id}>{cat.nombre}</option>                 
                )             
            })
        }
    </select>        
    <label for="quienLoAnyade">Añadido por</label>
    <input type="text" name="quienLoAnyade" required>    
    <div class=`${estado}`>
        <span class="grid space-y-2 text-lg">
            <label for="quienLoTiene">Lo tiene</label>
            <input type="text" name="quienLoTiene" required>
        </span>
        <label>¿Está prestado a alguien?</label>
        <div class="flex flex-cols-2 justify-around">
            <span>
                <input type="radio" name="prestado" id="prestadoSi" value= "true">
                <label for="prestadoSi">Está prestado</label>
            </span>
            <span>
                <input type="radio" name="prestado" id="prestadoNo" value="false" checked>
                <label for="prestadoNo">No está prestado</label>
            </span>
        </div>
    </div>
    <div id="aQuienEstaPrestado" class="hidden">
        <span class="grid space-y-2 text-lg">
            <label for="personaPrestado">¿A quién?</label>
            <input type="text" name="personaPrestado">
        </span>
    </div>
    <div class="flex flex-wrap justify-center mt-10">        
        <input class="submit text-lg hover:bg-green-300 rounded-md" type="submit" value="Añadir" id="add">        
    </div>  
</form>

<style>
    input, select {
        color:black; 
        border: 1px solid #000000;
        border-radius: 5px;    
        padding: 2px;
        padding-left: 4px;    
    }
    .submit{   
        border-style: none ;   
        text-decoration: underline;
        padding: 3px;
        margin: 20px;
        color: black;
        width: 70px;		
    }
    </style>
    
    