---
---

<table class="w-full m-5 table-auto justify-around border-colapse border-2">
    <thead class="border-colapse border-2">
        <tr>
            <th>Portada</th>
            <th>Nombre</th>
            <th>Lo tiene</th>
            <th>Prestado a: </th>
        </tr>
    </thead>
    <tbody >
        <tr class="border-colapse border-2">
            <td>Hoslfsdfks`df` </td>
            <td>Hoslfsdfks`df` </td>
            <td>Hoslfsdfks`df` </td>
            <td>Hoslfsdfks`df` </td>
        </tr>
        <tr>
            <td>Hoslfsdfks`df` </td>
            <td>Hoslfsdfks`df` </td>
            <td>Hoslfsdfks`df` </td>
            <td>Hoslfsdfks`df` </td>
        </tr>        
        <!-- listado de cuentos -->
    </tbody>
</table>