---
import Home from '../../public/icons/home.astro'
import User from '../../public/icons/user.astro'
import Category from '../../public/icons/category.astro'
import Deseados from '../../public/icons/deseados.astro'
---
<nav class="relative flex flex-wrap space-x-8 mb-5">
    <span class="flex">
        <figure class="w-32">
            <img src='/cuento.png' alt="El Museo del Cuento" class=""/>
        </figure>
    </span>  
    <span class="flex">
        <a href="/" target="_self" rel="noopener noreferrer nofollow"><Home /></a>        
        <a href="/" class="ml-1" target="_self" rel="noopener noreferrer nofollow">Inicio</a>
    </span>   
    <span  class="flex">
        <a href="/categorias/" target="_self" rel="noopener noreferrer nofollow"><Category /></a>
        <a href="/categorias/" class="ml-1" target="_self" rel="noopener noreferrer nofollow">Categorías</a>
    </span>
     <!-- <span  class="flex">
        <a href="/colaboradoras/" target="_self" rel="noopener noreferrer nofollow"><User /></a>
        <a href="/colaboradoras/" class="ml-1" target="_self" rel="noopener noreferrer nofollow">Colaboradoras</a>
    </span> -->
    <span  class="flex">
        <a href="/deseados/" target="_self" rel="noopener noreferrer nofollow"><Deseados /></a>
        <a href="/deseados/" class="ml-1" target="_self" rel="noopener noreferrer nofollow">Deseados</a>
    </span>
    <span class="flex" id="add">
        <button>            
            <a href="/add/" class="ml-1 bg-green-500 rounded-md hover:bg-green-600 px-1 py-0.5 text-white" target="_self" rel="noopener noreferrer nofollow">Añadir</a>
        </button>
    </span>       
</nav>

<style>
    nav span:hover:not(#add, #search){
    background-color: rgb(108, 241, 148);    
    border-radius: 7px; 
    color:black;  
}
</style>